.App {
  margin: 15px;
}
.all-product{
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); */
  grid-column-gap: 30px;
  grid-row-gap: 55px;
  margin: 5px;
 
  
  /* position: relative; */
}
.products{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); 
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  margin: 20px;
}
.pd-summary{
  position: sticky;
  top: 0px;
  background-color: rgb(202, 152, 60);
  border-radius: 20px;
  padding: 10px;
}
.clear-btn{
  align-items: center;
  justify-content: center;
  background-color: thistle;
  padding: 5px 67px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  
}
.chose-btn{
  background-color: rgb(211, 77, 211);
  padding: 5px 50px;
  border-radius: 10px;
  font-size: 12px;
  border: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
